body{
    margin: 0;
    padding: 0;
}

.one {
    background-color: blueviolet;
}

.two {
    background-color: #022859; 
}

.about {
    position: relative;
    padding: 20px 200px 50px 200px;
    min-height: 330px;
    text-align: left;
    display: flex;
    justify-content: center;
}

