footer {
   background-color: #0487D9;
}
  
.footer_section {
   max-width: 1000px;
   display: flex;
   justify-content: space-between;
   padding: 50px 80px 40px 80px;
   margin: auto;
}
  
.follow_us_section {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 1em;
   position: absolute;
   padding-top: 70px;
   text-align: center;
}
  
.fa-instagram,
.fa-square-facebook,
.fa-square-twitter,
.fa-youtube {
   display: grid;
   font-size: 30px;
}