.welcome_home {
    background: linear-gradient(90deg, #022859, #7614D9);
}

.welcome_home_logo {
    width: 280px;
}

.welcome_home_content,
.section_home_1 {
    max-width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    justify-content: center;
    margin: 0px auto;
    padding: 20px 0;
}

.section_home_2 {
    background-color: #022859;   
}

.section_home_2_content {
    max-width: 1000px;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 0px auto;
    padding: 20px 0;
}


.cover_image {
    margin: 10px;
    width: 150px;
    box-shadow: 5px 5px 5px black;
}
  
.cover_image:hover {
    box-shadow: 10px 10px 5px black;
}
  
.sell {
    background-color: #022859;
    text-align: center;
    padding: 50px;
}