.welcome_home {
    display: flex;
    position: relative;
    background: linear-gradient(90deg, #022859, #7614D9);
    align-items: center;
    padding: 20px 100px;
}

.welcome_home_text {
    flex: 1;
}

.welcome_home_logo {
    width: 280px;
}

.section_home_1 {
    max-width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    background-color: #7614D9;
    margin: 30px auto;
}

.section_home_1 > * {
    flex: 1;
}

.section_home_2 {
    display: flex;
    flex: 1;
    background-color: #022859;
    padding: 10px 30px 40px 30px;
}

.section_home_text {
    position: relative;
    text-align: left;
    padding: 60px;
}

.sell {
    background-color: #022859;
    text-align: center;
    padding: 50px;
}