.view_items_section {
    max-width: 500px;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    justify-content: center;
    margin: 0px auto;
    padding: 20px 0;
}
  
.view_items_section_2 {
    background-color: #022859;   
}
  
.view_items_section_2_content {
    max-width: 500px;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    justify-content: center;
    margin: 0px auto;
    padding: 20px 0;
}
  