.profile {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-direction: row;
    background-color: #7614D9;
    height: 350px;
  }

.your_profile {
    padding: 10px;
    background-color: #022859;
    border-radius: 25px;
}
  
.your_games {
    padding: 10px;
}
  
.friends {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #022859;
}
  
.your_friends {
    padding: 50px;
    background-color: #0487D9;
}
  
.sell_game {
    background-color: #7614D9;
}